/* globals.css */

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-Regular.woff2') format('woff2'),
         url('/fonts/Geist-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Geist Mono';
    src: url('/fonts/GeistMono-Regular.woff2') format('woff2'),
         url('/fonts/GeistMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    font-family: 'Geist', sans-serif;
  }
  